
<img src="assets/avatars/H01.jpg" alt="avatar"
  (click)="close('avatars/H01.jpg')">

<img src="assets/avatars/H02.jpg" alt="avatar"
  (click)="close('avatars/H02.jpg')">

<img src="assets/avatars/H03.jpg" alt="avatar"
  (click)="close('avatars/H03.jpg')">

<img src="assets/avatars/H04.jpg" alt="avatar"
  (click)="close('avatars/H04.jpg')">

<img src="assets/avatars/H05.jpg" alt="avatar"
  (click)="close('avatars/H05.jpg')">

<img src="assets/avatars/H06.jpg" alt="avatar"
(click)="close('avatars/H06.jpg')">

<img src="assets/avatars/H07.jpg" alt="avatar"
  (click)="close('avatars/H07.jpg')">

<img src="assets/avatars/H08.jpg" alt="avatar"
(click)="close('avatars/H08.jpg')">

<img src="assets/avatars/H09.jpg" alt="avatar"
  (click)="close('avatars/H09.jpg')">

<img src="assets/avatars/H10.jpg" alt="avatar"
(click)="close('avatars/H10.jpg')">

<img src="assets/avatars/M01.jpg" alt="avatar"
  (click)="close('avatars/M01.jpg')">

<img src="assets/avatars/M02.jpg" alt="avatar"
  (click)="close('avatars/M02.jpg')">

<img src="assets/avatars/M03.jpg" alt="avatar"
  (click)="close('avatars/M03.jpg')">

<img src="assets/avatars/M04.jpg" alt="avatar"
  (click)="close('avatars/M04.jpg')">

<img src="assets/avatars/M05.jpg" alt="avatar"
  (click)="close('avatars/M05.jpg')">

<img src="assets/avatars/M06.jpg" alt="avatar"
  (click)="close('avatars/M06.jpg')">

<img src="assets/avatars/M07.jpg" alt="avatar"
  (click)="close('avatars/M07.jpg')">

  <img src="assets/avatars/M08.jpg" alt="avatar"
  (click)="close('avatars/M08.jpg')">

  <img src="assets/avatars/M09.jpg" alt="avatar"
  (click)="close('avatars/M09.jpg')">

  <img src="assets/avatars/M10.jpg" alt="avatar"
  (click)="close('avatars/M10.jpg')">

