@import "./src/styles/definitions.scss";

:host {

  div {
    @extend %cube-size;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0 0 5px transparent;
    transition: all .3s ease;
    transform: scale(.8);
    opacity: 0;

    &:not(.occupied):hover {
      transform: scale(.5);
      opacity: 1;
      box-shadow: 0 0 15px 15px transparent;
      background-color: rgba(255, 255, 255, 0.2);
    }


    &.occupied {
      transform: scale(1);
      opacity: 1;
      box-shadow: 0 0 5px white;
      &.disabled {
        opacity: .3;
      }
    }
  }

}
