

<section class="cover" [ngClass]="{'anim': startAnimation, 'end-game': !!winner }">

  <div (click)="click(num)" *ngFor="let num of [0,1,2,3,4,5,6,7,8]">
    <sec-selection [avatar]="cells[num]"
      [disabled]="!!winner && num !== winner.cells[0] && num !== winner.cells[1] && num !== winner.cells[2]">
    </sec-selection>
  </div>

</section>

