

:host {

  $border-color: solid 10px rgba(255, 255, 255, 0.384);

  .cover {
    width: 390px;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
    transform: scale(8);
    opacity: 0;
    transition: all 1000ms ease;

    &.anim {
      transform: scale(1);
      opacity: 1;
      &> div {
        transform: scale(1);
        opacity: 1;
      }
    }

    &.end-game {
      :ng-deep {
        sec-selection {
          div {
            background-color: red !important;
          }
        }
      }
    }
  }


  div {
    transform: scale(4);
    opacity: 0;
    transition: all 500ms ease;
    width: 130px;
    height: 130px;
    cursor: pointer;
  }

  @for $i from 1 through 8 {
    div:nth-child(#{$i}) {
      transition-delay: 100ms * $i;
    }
  }

  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(4),
  div:nth-child(5) {
    border-right: $border-color;
    border-bottom: $border-color;
  }
  div:nth-child(3) ,
  div:nth-child(6) {
    border-bottom: $border-color;
  }
  div:nth-child(7),
  div:nth-child(8) {
    border-right: $border-color;
  }

}

