:host {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  .dynamic-popup {

    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999999;
    transition: all .3s .1s ease;
    display: table;
    &.hide {
      opacity: 0;
    }
  }
  .container {
    opacity: 1;
    transition: all .3s ease;
    height: 100%;
    overflow: auto;
    align-items: center;
    display: table-cell !important;
    vertical-align: middle;
    &.scale {
      opacity: 0;
      transform: scale(2);
    }
    &.hide {
      opacity: 0;
      transform: scale(0);
    }
  }
}
