
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #26a7f1;
    overflow: hidden;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(30, 12, 107);
}

::-webkit-scrollbar-thumb {
  background: #686868;
  &:hover {
    background: rgb(141, 141, 141);
  }
}

