


<div>

    <sec-user
      [avatar]="player1"
      [selected]="turn === player1 && !winner"
      [ngClass]="{winner: player1 === winner?.avatar, loser: player2 === winner?.avatar}"
      ></sec-user>

    <sec-user
      [avatar]="player2"
      [selected]="turn === player2 && !winner"
      [ngClass]="{winner: player2 === winner?.avatar, loser: player1 === winner?.avatar}"
      ></sec-user>

</div>

<div>
    <sec-button text="restart" (whenClicked)="renew()" [disabled]="!winner"></sec-button>
</div>


<div>

  <sec-tic-tac-toe
    [turn]="turn"
    [winner]="winner"
    (switchPlayer)="switchPlayer($event)">
  </sec-tic-tac-toe>

</div>

