:host {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &>div {
    display: flex;
    sec-user {
      padding: 80px 50px;
      transition: all 1.5s ease;
    }
  }
  .winner {
    transform: scale(1.2);
  }
  .loser {
    transform: scale(.5);
    opacity: .3;
  }
}
