:host {
  button {
    margin: 50px 0;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 90px;
    width: 100%;
    display: block;
    border: solid 2px #223dda;
    background: #223dda;
    color: rgba(255, 255, 255, 1);
    transition: all .4s ease;
    outline: none;
    cursor: pointer;

    &:not([disabled]):hover {
      transform: translateY(-8px);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.692);
    }

    &:not([disabled]):active {
      transform: translateY(-4px);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.692);
    }

    &[disabled] {
      border: solid 2px rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.3);
      cursor: default;
    }
  }
}
