@import "src/styles/definitions.scss";

:host {

    form {

        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;

        section {
            display: flex;
        }

        div {
          @extend %cube-size;
        }

        img {
            width: 100%;
        }

    }
}
