<form (ngSubmit)="whenSubmit()" [formGroup]="form">

  <section>

    <sec-user (click)="selectUser(0)"
      [avatar]="form.controls[0].value"></sec-user>

    <div>
      <img src="/assets/vs.png">
    </div>

    <sec-user (click)="selectUser(1)"
      [avatar]="form.controls[1].value"></sec-user>

  </section>


  <section>
    <sec-button type="submit" text="Start" [disabled]="form.invalid"></sec-button>
  </section>

</form>
