@import "./src/styles/definitions.scss";

:host {

  div {
    @extend %cube-size;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0 0 5px transparent;
    transition: box-shadow .3s ease;
  }
  .selected {
    box-shadow: 0 3px 50px 60px rgba(255, 255, 255, 0.722),
      0px 40px 20px rgb(255, 255, 255);
  }
}
